@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/*=== header section start ===*/
.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0.5rem 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0,0,0,0.5);
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.header .navbar img {
    width: 280px;
    height: 60px;
}

.header .navbar .navLinks {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.header .navbar .navLinks a{
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.header .navbar .navLinks a:hover{
    color: #f51f3b;
}

.header .navbar .navLinks a.active{
    color: #f51f3b;
}

.header .navbar .profile {
    display: flex;
    gap: 1.5rem;
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}

#menuBtn{
    font-size: 2.2rem;
    color: #fff;
    display: none;
}

/*=== home section start ===*/
.home{
    width: 100%;
    height: 100vh;
    background: url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 14%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.home h1{
    font-size: 3.4rem;
    text-transform: capitalize;
    color: #fff;
    padding-top: 4.5rem;
}

.home p{
    color: #fff;
    width: 500px;
    padding-bottom: 4rem;
    padding-top: 1.5rem;
}

.home button.read{
    width: 200px;
    height: 60px;
    font-size: 1rem;
    text-transform: capitalize;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
}

.home button.read:hover{
    background: #101323;
    border: 2px solid #101323;
}

.home .social {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.home .social i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    color: #de15de;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.4s;
}

.home .social i:hover{
    color: #fff;
    background: #101323;
}

@media(max-width:1250px) {
    .header .navbar {
        gap: 1rem;
    }

    .header .navbar .navLinks {
        gap: 1rem;
    }

    .header .navbar .profile {
        gap: 1rem;
    }

    .home {
        padding: 3rem 10%;
    }

    .header {
        padding: 0.5rem 10%;
    }
}

@media(max-width:991px) {
    .header .navbar .navLinks {
        position: absolute;
        left: 0;
        top: 5rem;
        width: 100%;
        height: 0;
        background: #fff;
        text-align: center;
        transition: 0.4s ease-in-out;
        display: none;
    }

    .header .navbar .navLinks.active{
        height: 280px;
        display: block;
    }

    .header .navbar .navLinks a{
        color: #101323;
        padding-bottom: 2rem;
    }

    .header .navbar .navLinks li {
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid #101323;
    }

    #menuBtn{
        display: block;
    }
}

@media(max-width:790px) {
    .home h1{
        font-size: 2.4rem;
    }
}

@media(max-width:560px) {
    .home h1 {
        font-size:1.7rem;
    }

    .home p{
        width: 100%;
    }
}

@media(max-width:400px) {
    .home h1 {
        font-size: 1.4rem;
    }

    .header .navbar .profile {
        display: none;
    }
}

section{
    padding: 2rem 14%;
    text-align: center;
}

/*=== about section start  ===*/
.about {
    width: 100%;
    height: 100vh;
    background: url(/images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section h1{
    text-transform: capitalize;
    font-size: 3.2rem;
    color: #101323;
    margin-top: 2rem;
}

section h1 span{
    color: #de15de;
}

section p.text{
    color: #101323;
    padding: 0 5rem;
}

.about .about-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border: 3px solid #c015de;
    border-radius: 20px;
    padding: 2.5rem;
    margin-top: 2rem;
}

.about-row .about-col{
    text-align: justify;
}

.about-row .about-col p {
    color: #101323;
    font-size: 1.2rem;
    text-indent: 20px;
    padding-bottom: 2.7rem;
}

.about-row .about-col .button a{
    background: #c015de;
    color: #fff;
    padding: 1rem 3rem;
    text-transform: capitalize;
    border-radius: 40px;
}

.about-row .about-col .button a:hover{
    background: #101323;
    color: #fff;
}

.about-row .about-col img{
    width: 100%;
    height: 24rem;
}

@media(max-width:991px){
    .about {
        height: auto;
    }

    .about .about-row {
        grid-template-columns: 1fr;
    }

    section p.text{
        padding: 0 0;
    }
}

@media(max-width:560px) {
    .about {
        height: auto;
    }

    .about .about-row {
        padding: 1rem;
    }

    .about-row .about-col img{
        width: 100%;
        height: auto;
    }
}

/*=== library section start ===*/
.library{
    padding: 2rem 0;
}

.library p.text{
    padding: 0 19rem;
}

.library .library-row {
    margin-top: 2rem;
    background: #66047c;
    width: 100%;
    height: 60vh;
    padding: 0 14%;
}

.library .library-row img{
    width: 100%;
    height: 100%;
}

.library .button{
    margin-top: 3.5rem;
    text-align: center;
}

.library .button a{
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    background: #c015de;
    padding: 1rem 3rem;
    border-radius: 40px;
    cursor: pointer;
}

.library .button a:hover{
    background: #101323;
    color: #fff;
}

@media(max-width:991px){
    .library .library-row {
        height: auto;
        padding: 0 0;
    }

    .library p.text {
        padding: 0 1%;
    }
}

/*=== books section start ===*/
.book .book-row {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 3rem 0;
}

.book-row .col-1{
    flex: 1 1 10rem;
    box-shadow: 0 5px 0 rgba(0,0,0,0.5);
}

.book-row .col-2{
    flex: 1 1 30rem;
}

.book-row .col-1 img,
.book-row .col-2 img {
    width: 100%;
}

.book-row .col-2 p{
    text-align: center;
    color: #101323;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.book .button a {
    font-size: 1rem;
    text-transform: capitalize;
    color: #fff;
    background: #c015de;
    padding: 1rem 3rem;
    border-radius: 40px;
    cursor: pointer;
}

.book .button a:hover{
    background: #101323;
    color: #fff;
}

@media(max-width:991px) {
    .book .book-row {
        flex-direction: column;
    }
}

@media(max-width:650px) {
    .book-row .col-2 p {
        padding-top: 0.5rem;
    }

    .book-row .col-2 {
        flex: 1 1 10rem;
    }
}

/*=== contact section start ===*/
.contact {
    background: #101323;
    width: 100%;
    min-height: 50vh;
    text-align: justify;
}

.contact h2{
    color: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.contact .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}

.contact .form .col-1{
    width: 100%;
    height: 40px;
    margin-bottom: 1rem;
}

.contact .form .col-1 input{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.contact .button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
}

.contact .button button {
    font-size: 1.2rem;
    color: #fff;
    background: #c015de;
    padding: 1rem 4rem;
    border-radius: 40px;
    cursor: pointer;
}

.contact .button button:hover{
    color: #101323;
    background: #fff;
}

@media(max-width:991px) {
    .contact .form {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:550px) {
    .contact .form {
        grid-template-columns: 1fr;
    }
}

/*=== social section start ===*/
.media {
    width: 100%;
    background: linear-gradient(to bottom, #9423c8, #d121e8);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: justify;
}

.media .col-2 {
    flex: 1 1 20rem;
}

.media .col-3 {
    flex: 1 1 30rem;
}

.media h3 {
    color: #fff;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1.8rem;
    text-transform: capitalize;
}

.media h3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 140px;
    height: 3px;
    border-radius: 3px;
    background: #fff;
}

.media .col-2 i {
    font-size: 1.5rem;
    padding: 1rem;
    background: #fff;
    cursor: pointer;
}

.media .col-2 i:hover {
    background: #101323;
    color: #fff;
}

.media .col-3 .inputBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

.media .col-3 .inputBox input{
    width: 100%;
    height: 40px;
    flex: 1 1 20rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.media .col-3 .inputBox button {
    width: 100%;
    flex: 1 1 10rem;
    height: 45px;
    font-size: 1rem;
    background: #101323;
    color: #fff;
    cursor: pointer;
}

/*==== footer section start ===*/
.footer {
    color: #101323;
    text-align: center;
    font-size: 1rem;
    position: relative;
}

.top-button a {
    position: absolute;
    bottom: 0.5rem;
    right: 2.5rem;
    font-size: 3rem;
    color: #9423c8;
}

.top-button a:hover {
    color: #101323;
}

/*=== title section start ===*/
.title {
    width: 100%;
    background: #f51f3b;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title  h2{
    color: #fff;
    font-size: 2.6rem;
    padding-top: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/*=== contact section start ===*/
.send {
    background: #101323;
    height: 80vh;
    padding-top: 4rem;
}

.send .col-1{
    display: flex;
    gap: 1rem;
}

.send .col-1 .box {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
}

.send .col-1 .box input {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.send .col-1 textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.send .btn button {
    margin: 2rem 0;
    padding: 1rem 4.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    background: #c015de;
    color: #fff;
}

.send .btn button:hover {
    background: #f51f3b;
}

@media(max-width:768px) {
    .send .col-1 {
        flex-wrap: wrap;
        gap: 0;
    }
}

/*=== pre loader ===*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(/images/loading.gif) no-repeat;
    background-size: 30%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    animation:  animate 1s linear infinite;
}

.preloader.active {
    opacity: 0;
    display: none;
}

@keyframes animate 
{
    0%
    {
        opacity: 1;
        display: block;
    }

    50%
    {
        opacity: 1;
        display: block;
    }

    80%
    {
        opacity: 0;
        display: none;
    }

    100%
    {
        opacity: 0;
        display: none;
    }
}